@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    <div class="main">
        @for (int slot = 0; slot < playerInventory.MaxSlots; slot++)
        {
            <div class="slot @(currentSlot == slot ? "current-slot" : "")">
                @if (slot < inventory.Count)
                {
                    Item item = inventory[slot];

                    <img src=@(item.ImagePath)></img>
                }
            </div>
        }
    </div>
</root>

@code
{
    [Property] public PlayerInventory playerInventory;

    private NetList<Item> inventory = new();
    private int currentSlot = 0;

    protected override void OnStart()
    {
        playerInventory.OnItemAdded += OnItemAdded;
        playerInventory.OnSlotChanged += OnSlotChanged;
    }

    private void OnItemAdded(NetList<Item> items)
    {
        inventory = items;

        StateHasChanged();
    }

    private void OnSlotChanged(int newSlot)
    {
        currentSlot = newSlot;

        StateHasChanged();
    }

    protected override int BuildHash() => System.HashCode.Combine(RealTime.Now.CeilToInt());
}
