@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    <div class="main">
        @for (int slot = 0; slot < 4; slot++)
        {
            <div class="slot @((currentSlot == slot) ? "current-slot" : "")">
                @if (slot < playerInventory.Inventory.Count)
                {
                    Item item = playerInventory.Inventory[slot];

                    <img src=@(item.ImagePath)></img>
                }
            </div>
        }
    </div>
</root>

@code
{
    private int currentSlot = 1;
    [Property] public PlayerInventory playerInventory;

    protected override int BuildHash() => System.HashCode.Combine(RealTime.Now.CeilToInt());
}
