@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    <div class="ItemBox1"><p>1</p></div>
    <div class="ItemBox2"><p>2</p></div>
    <div class="ItemBox3"><p>3</p></div>
    <div class="ItemImage1"><img src="Textures/iron.png" style="width:100px;height:100px;"></div>
</root>

@code
{

	[Property, TextArea] public string MyStringValue { get; set; } = "Hello World!";

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( MyStringValue );
}
