@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    <div class="main">
        @for (int slot = 0; slot < playerInventory.MaxSlots; slot++)
        {
            Item item;
            playerInventory.Inventory.TryGetValue(slot, out item);

            <div class="slot @(currentSlot == slot ? "current-slot" : "")">
                
                @if (item is not null)
                {
                    <img src=@(item.ImagePath)></img>
                }
            </div>
        }
    </div>
</root>

@code
{
    [Property] public PlayerInventory playerInventory;

    private NetDictionary<int, Item> inventory = new();
    private int currentSlot = 0;

    protected override void OnStart()
    {
        playerInventory.OnItemAdded += OnItemAdded;
        playerInventory.OnSlotChanged += OnSlotChanged;
    }

    private void OnItemAdded(NetDictionary<int, Item> items)
    {
        inventory = items;

        StateHasChanged();
    }

    private void OnSlotChanged(int newSlot)
    {
        currentSlot = newSlot;

        StateHasChanged();
    }

    protected override int BuildHash() => System.HashCode.Combine(RealTime.Now.CeilToInt());
}
