@using Sandbox;
@using Sandbox.UI;
@using System;
@inherits PanelComponent;

<root>
    <logo class="logo">UNDERWATER</logo>

    <div class="horizontal-menu">
        <div class="team">
            <div class="team-name">Red Team</div>
            
            <div class="players">
                @foreach (Guid playerId in redPlayers)
                {
                    GameObject player = Scene.Directory.FindByGuid(playerId);
                    
                    if (player is not null)
                    {
                        Connection client = player.Network.OwnerConnection;
                        <div class="player">@client.DisplayName</div>
                    }
                }
            </div>
            
            <button class="join-button">Join</button>
        </div>

        <div class="vs">
            <label>VS.</label>
        </div>

        <div class="team">
            <div class="team-name">Blue Team</div>

            <div class="players">
                @foreach (Guid playerId in bluePlayers )
                {
                    GameObject player = Scene.Directory.FindByGuid(playerId);
                    
                    if (player is not null)
                    {
                        Connection client = player.Network.OwnerConnection;
                        <div class="player">@client.DisplayName</div>
                    }
                }
            </div>

            <button class="join-button">Join</button>
        </div>
    </div>
</root>

@code 
{
    [Property] public LobbyManager lobbyManager;

    private NetList<Guid> redPlayers = new();
    private NetList<Guid> bluePlayers = new();

    public void UpdatePlayerList(NetList<Guid> redPlayers, NetList<Guid> bluePlayers)
    {
        Log.Info("Hello World 2");

        this.redPlayers = redPlayers;
        this.bluePlayers = bluePlayers;

        StateHasChanged();
    }

    protected override int BuildHash() => System.HashCode.Combine(RealTime.Now.CeilToInt());
}
