@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Network;
@inherits PanelComponent;

<root>
    <div class="main">
        
    </div>
</root>

@code
{
    [Property] public GameNetworkManager gameNetworkManager;

    private List<LobbyInformation> lobbyInformations;

    protected override int BuildHash() => System.HashCode.Combine(RealTime.Now.CeilToInt());
}
