@using Sandbox;
@using Sandbox.UI;
@using System;
@inherits PanelComponent;

<root>
    <logo class="logo">UNDERWATER</logo>

    <div class="horizontal-menu">
        <div class="team">
            <div class="team-name">Red Team</div>

            <div class="players">
                @foreach (Guid playerId in redPlayers)
                {
                    GameObject player = Scene.Directory.FindByGuid(playerId);
                    
                    if (player is not null)
                    {
                        Connection client = player.Network.OwnerConnection;
                        <div class="player">@client.DisplayName</div>
                    }
                }
            </div>
            @if (lobbyManager is not null)
            {
                @if (lobbyManager.CanJoinTeam(Team.Red))
                {
                    <div class="center-panel">
                        <button onclick=@(() => lobbyManager.ChangeTeam(Team.Red))>Join</button>
                    </div>
                }
            }
            
        </div>

        <div class="vs">
            <label>VS.</label>
        </div>

        <div class="team">
            <div class="team-name">Blue Team</div>

            <div class="players">
                @foreach (Guid playerId in bluePlayers )
                {
                    GameObject player = Scene.Directory.FindByGuid(playerId);
                    
                    if (player is not null)
                    {
                        Connection client = player.Network.OwnerConnection;
                        <div class="player">@client.DisplayName</div>
                    }
                }
            </div>
            
            @if (lobbyManager is not null)
            {
                @if (lobbyManager.CanJoinTeam(Team.Blue))
                {
                    <div class="center-panel">
                        <button onclick=@(() => lobbyManager.ChangeTeam(Team.Blue))>Join</button>
                    </div>
                }
            }
        </div>
    </div>

    <div class="terminal-panel">
        <div class="lines">
            @foreach (Entry entry in entries)
            {
                <div class="message"><div class="author">@($"{entry.Author}: ")</div>@entry.Message</div>
            }
        </div>

        <TextEntry @ref="InputBox" onsubmit=@(() => SendMessage())>

        </TextEntry>
    </div>
</root>

@code 
{
    [Property] public GameObject lobbyObject;
    private LobbyManager lobbyManager;

    private NetList<Guid> redPlayers = new();
    private NetList<Guid> bluePlayers = new();

    private TextEntry InputBox;

    [Sync] public NetList<Entry> entries { get; set; } = new();

    private int maxEntries = 11;

    protected override void OnStart()
    {
        lobbyManager = lobbyObject.Components.Get<LobbyManager>();
    }

    public void UpdatePlayerList(NetList<Guid> redPlayers, NetList<Guid> bluePlayers)
    {
        this.redPlayers = redPlayers;
        this.bluePlayers = bluePlayers;

        StateHasChanged();
    }

    public void SendMessage()
    {
        string text = InputBox.Text;
        InputBox.Text = "";

        lobbyManager.SendAll(text);
    }

    public void AddText(string author, string message)
    {
        Entry entry = new Entry(author, message);
        entries.Add(entry);

        StateHasChanged();
    }

    protected override int BuildHash() => System.HashCode.Combine(RealTime.Now.CeilToInt());
}
