@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Network;
@using System.Threading.Tasks;
@using System;
@inherits PanelComponent;

<root>
    <div class="row">
        <div class="menu">

            <div class="header">None Team</div>

            @if (players.Count != 0)
            {
                foreach (PlayerTeam team in players)
                {
                    <div>@team.DisplayName</div>
                }
            }

            <button onclick=@(() => StartGame())>Start Game</button>
        </div>

        <div class="menu">

            <div class="header">Red Team</div>

            @if (players.Count != 0)
            {
                foreach (PlayerTeam team in players)
                {
                    if (team.CurrentTeam == Team.Red)
                    {
                        <div>@team.DisplayName</div>
                    }
                }
            }

            <button>Join Red</button>
        </div>

        <div class="menu">

            <div class="header">Blue Team</div>

            @if (players.Count != 0)
            {
                foreach (PlayerTeam team in players)
                {
                    if (team.CurrentTeam == Team.Blue)
                    {
                        <div>@team.DisplayName</div>
                    }
                }
            }

            <button>Join Blue</button>
        </div>
    </div>
    
</root>

@code
{
    [Property] public GameManager gameManager;

    private NetList<PlayerTeam> players = new();

    protected override void OnStart()
    {
        _ = UpdatePlayerList();
    }

    private async Task UpdatePlayerList()
    {
        while (true)
        {
            players = gameManager.PlayersTeam;

            await Task.DelayRealtimeSeconds(5f);
        }
    }

    private void StartGame()
    {
        gameManager.StartRound();
    }

    protected override int BuildHash() => System.HashCode.Combine(RealTime.Now.CeilToInt());
}
