@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent;

<root>
    <logo class="logo">UNDERWATER</logo>

    <div class="horizontal-menu">
        <div class="team">
            <div class="team-name">Red Team</div>
            
            <div class="players">
                <div class="player">Swanchick</div>
            </div>
            
            <button class="join-button">Join</button>
        </div>

        <div class="vs">
            <label>VS.</label>
        </div>

        <div class="team">
            <div class="team-name">Blue Team</div>

            <div class="players">
                @for (int i = 0; i < 2; i++)
                {
                    <div class="player">Swanchick</div>
                }
            </div>

            <button class="join-button">Join</button>
        </div>
    </div>
</root>

@code 
{
    
}
