Scoreboard {
    .table {
        flex-direction: column;
        width: 50%;
        font-size: 20%;
        font-family: Poppins;
        font-weight: 800;

        padding: 5rem;

        color: white;

        .row {
            white-space: nowrap;

            > * {
                padding-bottom: 20px;
            }
        }
    }

    &.hidden {
        opacity: 0;
    }
}
