@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    <div class="table">
        @foreach (Connection connection in Networking.Connections)
        {
            string displayName = connection.DisplayName;

            <dive class="row">
                @displayName
            </dive>
        }
    </div>
</root>

@code 
{
    protected override void OnUpdate()
    {
        SetClass( "hidden", !Input.Down( "Score" ) );
    }

    protected override int BuildHash() => System.HashCode.Combine(RealTime.Now.CeilToInt());
}
